netflix_schema.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xS="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.w3schools.com"
           elementFormDefault="qualified"
           xmlns="https://www.w3schools.com">
    <xs:complexType name="Response">
        <xs:sequence>
            <xs:complexType name="Result">
                <xs:sequence>
                <xs:element name="id">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element> 
                <xs:element type="xs:string" name="title"/>
                <xs:element type="xs:string" name="director"/>
                <xs:element type="xs:string" name="country"/>
                <xs:element name="release">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1900"/>
                            <xs:maxInclusive value="2021"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element> 
                <xs:element type="xs:string" name="duration"/>
                <xs:element type="xs:string" name="genre"/>
            </xs:sequence>
          </xs:complexType>
      </xs:sequence>
    </xs:complexType>
</xs:schema>

